*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin: 0;padding: 0;border: 0;}
ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover,a:focus{
	cursor: pointer;
	text-decoration: none;
}
body{
	font-family: "微软雅黑";
	font-weight: 300;
	color: #333333;
}
/*index bg*/
.xb_index_bg{background-color: #eaedf1;}
/*--xb导航样式--*/
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FFFFFF;
    background-color: transparent;
}
.xb_nav{
	background-color: #373d41;
	position: fixed;
	width: 100%;
	top: 0;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.nav>li>a:focus, .nav>li>a:hover{background-color: #373d41;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #373d41;
    border-color: #337ab7;
}
.sidebar ul li {
    border-bottom: 0;
}
.xb_side{
	position: fixed;
	background-color: #333744;
	height: 100%;
}
.nav_xb{
	padding: 10px 15px;
	text-align: center;
	color: #FFFFFF;
	background-color: #42485b;
	position: relative;
}
.nav_xb:hover{
	cursor: pointer;
	background-color:#00c1de ;
}
.nav_xb+ul{display: none;}
.nav_xb+ul>li{
	text-align: center;
	color: #FFFFFF;
	padding: 10px 15px;
}
.nav_xb+ul>li>a{color: #FFFFFF;}
.sidebar ul li a.active{background-color: transparent;}
.nav_xb+ul>li:hover{background-color: #42485b;}
.glyphicon{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.collapse.in{display: none;}
.nav_xb+ul>li.active{background-color:#00c1de ;}
.dropdown-menu.dropdown-user>li>a:hover{
	cursor: pointer;
	background-color: #EEEEEE;
}
.fa.fa-user.fa-fw,.fa.fa-caret-down{color: #FFFFFF;}
.fa.fa-user.fa-fw.alt{color: #333;}
.fa{margin-right: 10px;}
/*--page_wra---*/
.xb_page_content{
	background-color: #eaedf1;
	padding: 15px;
	position: inherit;
    margin: 50px 0 0 150px;
    border-left: 1px solid #e7e7e7;
}
/*scenario create*/
.xb_sce_h1{
	font-size: 36px;
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}
.xb_sce_seacher{
	position: relative;
	padding: 20px 0;
}
.xb_sce_seacher>input{
	border: 1px;
}
.xb_search_icon:hover{cursor: pointer;}
.xb_search_icon{right: 8px;left: auto;}
.xb_sce_left{width: 300px;float: left;}
.xb_sce_h1+div{margin: 30px 0;}
.xb_sce_right{float: right;}
.xb_tb_ul>li{
	float: left;
	padding: 0 5px;
	border-right:1px solid #337ab7 ;
}
.xb_tb_ul>li:last-child{border-right: 0;}
.table>thead>tr>th:first-child{width: 80px;}
.table>thead>tr>th:last-child{width: 250px;}
.table>thead>tr>th:nth-child(2){width: 150px;}
#xb_file{padding: 5px;width:200px;height: 34px;border: 1px solid #CCCCCC;border-radius:5px ;}
#file{position: relative;z-index: -11;display: block;width: 0; height: 0;}
#fileName,#fileSize,#fileType{padding: 5px 0;font-style: italic;}
#xb_btn_up{margin-left: 10px;}
#xb_btn_upload{margin-top: 5px;}
