/xboost/com.xboost.business/target
/.idea
/xboost/.idea
/xboost/com.xboost.business/src/main/resources/upload/temp
/xboost/com.xboost.business/temp
/xboost/com.xboost.common/target/classes/com/xboost/pojo/*.class
/xboost/com.xboost.cascade/target/classes/org/demo/spring/*.class
/xboost/com.xboost.cascade/target
/xboost/com.xboost.common/target
/xboost/com.xboost.relay/target/classes/org/demo/spring/*.class
/xboost/com.xboost.relay/target/classes/org/demo/spring/core/*.class
/xboost/com.xboost.relay/target/classes/org/demo/spring/dao/*.class
/xboost/com.xboost.relay/target/classes/org/demo/spring/restController/*.class
/xboost/com.xboost.relay/target/maven-archiver
/xboost/com.xboost.relay/target/classes/org/demo/spring/model/*.class
/xboost/com.xboost.relay/target/classes/org/demo/spring/service/*.class
/xboost/com.xboost.relay/target/classes/org/demo/spring/service/impl/*.class
/xboost/com.xboost.relay/target/maven-status/maven-compiler-plugin/compile/default-compile
/xboost/com.xboost.relay/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
/xboost/com.xboost.relay/target
/xboost/com.xboost.dynamic/target/classes/com/mckinsey/ckc/sf/utils/*.class
/xboost/com.xboost.dynamic/target/classes/com/mckinsey/ckc/sf/data/*.class
/xboost/com.xboost.dynamic/target/classes/com/mckinsey/ckc/sf/main
*.class
target
