/*
 * transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
 * */
/********scenariosname*********/
select:hover{
	cursor: pointer;
}
.sim-content.scen{
	margin-top: 20px;
}
.sim-content.scen>header>p{
	float: left;
}
.sim-content.scen>header>a{
	float: right;
}
#scen-cate,#scen-desc{
	font-size: 14px;
	padding: 2px 0;
}
#scen-ul>li{
	float: left;
	width: 25%;
	color: #687189;
	font-weight: 700;
}
#scen-ul>li>p:nth-child(2){
	font-size: 30px;
	padding-top: 10px;
	padding-left: 50px;
}
.scen-box{
	padding: 10px;
	height: 400px;
}
.scen-itembox1{
	float: left;
	width: 70%;
}
.scen-itembox2{
	float: left;
	width: 30%;
	padding: 15px;
}
.scen-itembox2>h1{
	font-size: 20px;
	font-weight: 700;
	color: #687189;
}
.scen-result{
	padding: 10px 0;
	border-bottom: 1px solid #e2e5ee;
}
.scen-result>li{
	padding: 5px 0;
	color: #687189;
}
.scen-cost>li{
	padding: 10px 0;
	color: #687189;
	font-weight: 700;
}
.totalcost{
	margin-top: 15px;
}
input[type=radio]{
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 2px;
}
.route-choose{
	margin-top: 40px;
}
#ScenariosNamet_paginate,
#ScenariosNamet_info,
#ScenariosNamet_wrapper{
	display: none;
}

/*******************************Conditions************/
.cond-wrap{
	margin: 0;
	padding: 20px 15px;
	font-size: 20px;
	font-weight: 700;
	color: #687189;
	background-color: #eef1f7;
}
.xb-fl{
	float: left;
}
.xb-fl>p{line-height: 30px;}
.xb-fr{
	float: right;
}
.xb-fr>button{
	font-size: 14px;
	color: #8c97b2;
	border: 1px solid #ccd4e3;
	background-color: #eef1f7;
	padding: 6px 8px;
	border-radius: 5px;
}
.xb-fr>button>span{margin-right: 2px;}
.cond-top-ul{
	background-color: #eef1f7;
	margin-top: 5px;
	line-height: 51px;
	height: 51px;
}
.cond-top-ul>li>a{
	padding: 2px 12px;
	color: #8c97b2;
}
.cond-top-ul>li>a:hover,.cond-top-ul>li>a.active{
	color: #FFFFFF;
	background-color: #5ab0ee;
	border-radius: 12px;
}
.cond-top-ul>li{
	float: left;
	padding: 0 12px;
	position: relative;
}
.cond-top-ul>li.active:before{
	content: "";
	display: block;
	width: 65%;
	height: 4px;
	background-color: #f26b8c;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
/**********Conditions table*********/
#page-wrappers{
	padding: 20px;
	background-color: #d5dae6;
}
#page-wrappers>div{
	position: relative;
}
.table{
	margin-bottom: 0;
	
}
.table>thead>tr>th,.table>tbody>tr>td{vertical-align:middle;}
.table>thead>tr>th,.table>thead>tr>td{
	border-bottom:0;
	background-color: #eef1f7;
	color: #687189;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
}

.table>tbody>tr>td{
	color: #19a371;
	text-align: center;
	background-color: #FFFFFF;
}
.table>tbody>tr>td>input{
	display: block;
	width: 100%;
	text-align: center;
}

.table_p{
	position: absolute;
	top: 0;
	left: 807px;
	z-index: 1000;
	background-color: #eef1f7;
	color: #687189;
	font-weight: 600;
	text-align: center;
	width: 504px;
	border: 1px solid #ddd;
	padding: 5px 0;
}
.table-responsive{
	font-size: 14px;
}
table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting{
	padding-right: 0 ;
} 
.btn.btn-success{
	background-color: #5ab0ee;
}
.form-horizontal label{
	text-align: left;
	padding-left:0 ;
	padding-right: 0;
}
@media only screen and (min-width: 768px ) {
	.modal-dialog{
		width: 900px;
	}
}

.modal-dialog.modal-del{
	width: 500px;
}
#Depots_Info_filter,
#Depots_Distance_filter,
#Transportation_filter,
#Demands_filter,
#Patameters_filter{
	display: none;
}
#Depots_Info>thead>tr:first-child>th:nth-child(5){
	width: 200px!important;
}
/**********Conditions model*********/
.import-error{
	display: none;
	color: red;
}
.model-input-content{
	padding: 25px 0;
}
.model-input-content>div:first-child{
	line-height: 32px;
	color: #687189;
}
.model-input-content>div>input{
	width: 100%;
	display: block;
}
.model-input-content>div:last-child>div:hover{
	cursor: pointer;
}
.model-input-content>div:last-child>div{
	font-size: 14px;
	width: 80%;
	color: #8c97b2;
	border: 1px solid #ccd4e3;
	background-color: #eef1f7;
	
	border-radius: 5px;
	line-height: 20px;
	text-align: center;
}
.model-input-content>div:last-child>div>a{
	display: block;
	padding: 6px 8px;
}
.model-input-content>div:nth-child(2){
	position: relative;
}
.cond-file-box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FFFFFF;
	padding-left: 10px;
}
.cond-file-box>div:hover{
	cursor: pointer;
}
.cond-file-box>div{
	display: block;
	background-color: #e9e9e9;
	border: 1px solid #a5a5a5;
	color: #0d0d0d;
	padding: 4px 8px;
	border-radius: 3px;
	float: left;
	width: 40%;
}
.cond-file-box>p{
	float: left;
	line-height: 32px;
	padding-left: 5px;
	width: 60%;
	height: 32px;
	overflow: hidden;
}
#page-wrapper>div>div.table-responsive{
	display: none;
}
#page-wrapper>div>div.table-responsive.active{
	display: block;
}
#page-wrapper{
	background-color: #d5dae6;
}
.cond-wrap{
	margin:0 -15px ;
}
.cond-top{
	margin: 10px -15px;
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled, 
table.dataTable thead .sorting_desc_disabled {
   background-color: #eef1f7;
}
table.table-bordered.dataTable th:last-child, 
table.table-bordered.dataTable th:last-child, 
table.table-bordered.dataTable td:last-child, 
table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}
#addNewUser-info,
#addNewUser-dist,
#addNewUser-dem,
#addNewUser-pata,
#addNewUser-tran{
	font-size: 16px;
}
#MyScenarios_length{
	display: none;
}
.modal-header{
	background-color: #eef1f7;
    border-radius: 10px;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	padding-left: 0;
	padding-right:0;
}

#modal-tran>.modal-dialog,
#modal-pata>.modal-dialog,
#modal-dist>.modal-dialog,
#modal-dem>.modal-dialog,
#modal-info>.modal-dialog{
	width: 500px;
}
/**************** simulate********************************/
.sim-content{
	background-color: #fff;
}
.sim-content>header{
	background-color: #eef1f7;
	padding: 15px 20px;
	color: #8c97b2;
}
.sim-box{
	padding: 0.18rem;
}
.sim-box select{
	border: 1px solid #CCCCCC;
	background-color:  #eef1f7;
}
.sim-box>.form-group{
	margin: 0.123rem 0;
}
.sim-box button{
	display: block;
	width: 100%;
	background-color:  #eef1f7;
	padding: 5px 15px;
	border: 1px solid #CCCCCC;
}
.sim-error{
	color: red;
	line-height: 33px;
	display: none;
	float: left;
	margin-left: 0.123rem;
}
.sim-box>.form-group.sim-ground{
	padding: 15px;
	background-color: #eef1f7;
	border: 1px solid #CCCCCC;
	height: 1.5rem;
	overflow-y: auto;
}
.sim-input{
	margin: 10px 0;
}
.sim-input>input{
	float: left;
	background-color: #eef1f7;
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
}
.sim-input>p{
	line-height: 33px;
	float: left;
	width: 15%;
}
.sim-box>.form-group.sim-ground.alt-sims{
	height: 3rem;
	margin: 0;
}
.sim-wrap>p:first-child{
	float: left;
}
.sim-wrap>select{
	float: left;
	margin-left:0.13rem ;
	padding: 0.02rem 0.06rem;
}
.sim-run-btn>button{
	width: auto;
}

/******************tran****************************/
.tran-add-frspan{
	display: inline-block;
	width: 25%;
}
.table>tbody>tr>td.text-left{
	text-align: left;
	padding-left: 10px;
}
.tran-add-tbody>tr>td input{
	width: 17%;
}
.tran-add-tbody>tr>td input[type=radio]{
	width: 30%;
}
.tran-add-tbody>tr>td label:hover,
.tran-add-tbody>tr>td input[type=radio]:hover{
	cursor: pointer;
}
.tran-add-tbody>tr>td label{
	width: 20%;
}
.km-min.active{
	cursor: not-allowed;
}

/************result***********************************/
/***route***/
#route-wrap{
	background-color: #fff;
}
.table-responsive.active.result-style{
	padding: 10px;
}
.result-header{
    background-color: #eef1f7;
    padding: 15px 20px;
    color: #8c97b2;
}
#SolutionRoute_wrapper>div:first-child,
#SolutionDeport_wrapper>div:first-child,
#SolutionVehicles_wrapper>div:first-child{
	display: none;
}
.route-select{
	padding: 4px 8px;
	padding-left: 22px;
	font-size: 14px;
}
.select-depot{
	position: relative;
}
.select-depot>span{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.scen-cost>li>span{
	font-weight: 300;
}
#idle-vehicle{
	display: none;
}
/*******deport******/
.tip{
	width:200px;  
    border:2px solid #ddd;  
    padding:8px;  
    background:#f1f1f1;  
    color:#666;
    position:fixed;
    float: left;
    left:0;
    top:0;
    z-index:10000;
    z-index: 1000000;
    display:none;
}

