<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.ArrInfoMapper">

    <cache/>
    <insert id="saveArrInfo">
        INSERT into t_arrInfos_info(scenariosId,route_id,arr_time,end_time,location,createtime)
        VALUES (#{scenariosId},#{routeId},#{arrTime},#{endTime},#{location},#{createTime})
    </insert>


</mapper>