<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.ModelArgMapper">

    <cache/>

    <insert id="add">
        INSERT into t_model_arg(scenariosId ,parameter_name,data,note,str1,str2,str3,createtime,updatetime)
        VALUES (#{scenariosId},#{parameterName},#{data},#{note},#{str1},#{str2},#{str3},#{createTime},#{updateTime})
    </insert>

    <select id="findAll" parameterType="map" resultType="ModelArg" resultMap="modelArgMap">
        SELECT * FROM t_model_arg where scenariosId = #{scenariosId}
    </select>

    <select id="findByParam" parameterType="map" resultType="ModelArg" resultMap="modelArgMap">
        SELECT * from t_model_arg
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and parameter_name LIKE #{keyword}
            </if>
        </where>
        order by ${orderColumn} ${orderType}
        limit ${start},${length}
    </select>


    <select id="findAllCount" resultType="long">
        SELECT COUNT(*) FROM t_model_arg where scenariosId = #{scenariosId}
    </select>

    <select id="findCountByParam" resultType="long" parameterType="map">
        SELECT count(*) FROM t_model_arg
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and parameter_name LIKE #{keyword}
            </if>
        </where>
    </select>

    <select id="findModelArgById" resultType="com.xboost.pojo.ModelArg"  resultMap="modelArgMap">
        SELECT * FROM t_model_arg where id = #{id}
    </select>

    <update id="editModelArg">
        UPDATE t_model_arg SET scenariosId = #{scenariosId},parameter_name = #{parameterName},data = #{data},note=#{note} where id = #{id}
    </update>

    <delete id="delById">
        DELETE FROM t_model_arg WHERE id = #{id}
    </delete>

    <resultMap id="modelArgMap" type="ModelArg">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="parameterName" column="parameter_name"/>
        <result property="data" column="data"/>
        <result property="note" column="note"/>
    </resultMap>

</mapper>