<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.RideMapper">

    <insert id="save">
        INSERT into t_solution_splic(scenariosId ,userId,rideId,timeId,route_count,sequence,cur_loc,next_cur_loc,
        car_type,car_name,arr_time,end_time,sb_vol,unload_vol,create_time)
        VALUES (#{scenariosId},#{userId},#{rideId},#{timeId},#{routeCount},#{sequence},#{curLoc},#{nextCurLoc},
        #{carType},#{carName},#{arrTime},#{endTime},#{sbVol},#{unloadVol},#{createTime})
    </insert>

    <delete id="delByScenariosId">
        DELETE FROM t_solution_splic WHERE scenariosId = #{scenariosId}
    </delete>

    <select id="findAll" parameterType="map" resultType="Ride" resultMap="modelRide">
        SELECT * FROM t_solution_splic where scenariosId = #{scenariosId}
    </select>

    <select id="findByRide2" resultType="map" resultMap="modelRideAndSite">
        SELECT s.scenariosId,s.rideId,s.sequence,s.cur_loc,s.car_type,s.car_name FROM t_solution_splic s
        WHERE s.scenariosId = #{openScenariosId} and s.rideId=#{rideId} order by s.rideId+0,s.sequence+0 asc
    </select>
    <select id="findByRides1" resultType="map" resultMap="modelRouteAndSite">
        SELECT s.scenariosId,s.route_count,s.sequence,s.cur_loc,s.next_cur_loc,car_type,s.car_name FROM t_solution_route s
        WHERE s.scenariosId = #{openScenariosId} and s.route_count=#{rideId} order by s.route_count+0,s.sequence+0 asc
    </select>

    <select id="findAllRidesRelay" resultType="map" resultMap="modelRideAndSite">
        SELECT s.scenariosId,s.rideId,s.sequence,s.cur_loc,s.car_type,s.car_name FROM t_solution_splic s
        WHERE s.scenariosId = #{openScenariosId} order by s.rideId+0,s.sequence+0 asc
    </select>

    <select id="findAllRidesSeries" resultType="map" resultMap="modelRouteAndSite">
        SELECT s.scenariosId,s.route_count,s.sequence,s.cur_loc,car_type,s.car_name
        FROM t_solution_route s WHERE s.scenariosId = #{openScenariosId} order by s.route_count+0,s.sequence+0 asc
    </select>

    <select id="findByRideSeries" resultType="map" resultMap="modelRouteAndSite">
        SELECT s.scenariosId,s.sequence,s.cur_loc,s.next_cur_loc,car_type,s.car_name,
        s.sb_vol,s.unload_vol,s.arr_time,s.end_time,d.site_name,d.site_type,d.latitude,d.longitude
        FROM t_solution_route s LEFT JOIN t_site_info d ON s.cur_loc = d.site_code
        WHERE s.scenariosId = #{openScenariosId} AND d.scenariosId=#{openScenariosId}
        and s.route_count=#{rideId} order by s.rideId+0,s.sequence+0 asc
    </select>

    <select id="findByRideRelay" resultType="map" resultMap="modelRideAndSite">
        SELECT s.scenariosId,s.rideId,s.sequence,s.cur_loc,s.next_cur_loc,s.car_type,s.car_name,
        s.sb_vol,s.unload_vol,s.arr_time,s.end_time,d.site_name,d.site_type,d.latitude,d.longitude
        FROM t_solution_splic s LEFT JOIN t_site_info d ON s.cur_loc = d.site_code
        WHERE s.scenariosId = #{openScenariosId} AND d.scenariosId=#{openScenariosId}
        and s.rideId=#{rideId} order by s.rideId+0,s.sequence+0 asc
    </select>

    <update id="update">
        UPDATE t_solution_splic SET car_name=#{carName} WHERE scenariosId=#{scenariosId} and rideId=#{rideId}
    </update>


    <resultMap id="modelRide" type="Ride">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="rideId" column="rideId"/>
        <result property="timeId" column="timeId"/>
        <result property="routeCount" column="route_count"/>
        <result property="sequence" column="sequence"/>
        <result property="curLoc" column="cur_loc"/>
        <result property="nextCurLoc" column="next_cur_loc"/>
        <result property="carType" column="car_type"/>
        <result property="carName" column="car_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="modelRideAndSite" type="map">
        <result property="scenariosId" column="scenariosId"/>
        <result property="rideId" column="rideId"/>
        <result property="sequence" column="sequence"/>
        <result property="curLoc" column="cur_loc"/>
        <result property="nextCurLoc" column="next_cur_loc"/>
        <result property="carType" column="car_type"/>
        <result property="carName" column="car_name"/>
        <result property="sbVol" column="sb_vol"/>
        <result property="unloadVol" column="unload_vol"/>
        <result property="arrTime" column="arr_time"/>
        <result property="endTime" column="end_time"/>
        <result property="siteName" column="site_name"/>
        <result property="siteType" column="site_type"/>
        <result property="siteLongitude" column="longitude"/>
        <result property="siteLatitude" column="latitude"/>

    </resultMap>

    <resultMap id="modelRouteAndSite" type="map">
        <result property="scenariosId" column="scenariosId"/>
        <result property="RideId" column="route_count"/>
        <result property="sequence" column="sequence"/>
        <result property="curLoc" column="cur_loc"/>
        <result property="nextCurLoc" column="next_cur_loc"/>
        <result property="carType" column="car_type"/>
        <result property="carName" column="car_name"/>
        <result property="sbVol" column="sb_vol"/>
        <result property="unloadVol" column="unload_vol"/>
        <result property="arrTime" column="arr_time"/>
        <result property="endTime" column="end_time"/>
        <result property="siteName" column="site_name"/>
        <result property="siteType" column="site_type"/>
        <result property="siteLongitude" column="longitude"/>
        <result property="siteLatitude" column="latitude"/>


    </resultMap>

</mapper>