<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.SiteDistMapper">

    <cache/>

    <insert id="save">
        INSERT INTO t_site_distance(scenariosId,car_type,site_collect,site_delivery,car_distance,duration_night_delivery,
        duration_night_delivery2,duration_night_delivery3,createtime)
        VALUES (#{scenariosId},#{carType}, #{siteCollect}, #{siteDelivery}, #{carDistance}, #{durationNightDelivery},
        #{durationNightDelivery2},#{durationNightDelivery3},#{createTime})
    </insert>

    <update id="update">
        update t_site_distance set scenariosId = #{scenariosId},car_type = #{carType},site_collect = #{siteCollect},
        site_delivery = #{siteDelivery},car_distance = #{carDistance},duration_night_delivery = #{durationNightDelivery}，
        duration_night_delivery2 = #{durationNightDelivery2}，duration_night_delivery3 = #{durationNightDelivery3}
        where id = #{id}
    </update>

    <select id="findAll" parameterType="map" resultType="SiteDist" resultMap="siteDistMap">
        SELECT * FROM t_site_distance where scenariosId = #{scenariosId}
    </select>

    <select id="findAllSiteDist" parameterType="map" resultMap="siteDistMap">
        select * from t_site_distance where scenariosId = #{scenariosId}
    </select>

    <select id="findByParam" parameterType="map" resultType="SiteDist" resultMap="siteDistMap">
        SELECT * from t_site_distance
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and site_collect LIKE #{keyword} or site_delivery like #{keyword}
            </if>
        </where>
        order by ${orderColumn} ${orderType}
        limit ${start},${length}
    </select>

    <select id="findSiteDistByScenariosId" parameterType="map" resultMap="siteDistMap">
        select * from t_site_distance where scenariosId=#{scenariosId}
    </select>

    <select id="findAllCount" resultType="long">
        SELECT COUNT(*) FROM t_site_distance where scenariosId = #{scenariosId}
    </select>

    <select id="findCountByParam" resultType="long" parameterType="map">
        SELECT count(*) FROM t_site_distance
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and site_collect LIKE #{keyword} or site_delivery like #{keyword}
            </if>
        </where>
    </select>

    <select id="findFarthestDist" resultType="float">
        select max(car_distance) from t_site_distance where scenariosId=#{scenariosId}
    </select>

    <select id="findById" resultType="com.xboost.pojo.SiteDist"  resultMap="siteDistMap">
        SELECT * FROM t_site_distance where id = #{id}
    </select>

    <update id="editSiteDist">
        UPDATE t_site_distance SET scenariosId = #{scenariosId},carType = #{car_type},site_collect = #{siteCollect},site_delivery=#{siteDelivery},
        car_distance=#{car_distance},duration_night_delivery=#{durationNightDelivery},duration_night_delivery2 = #{durationNightDelivery2}，
        duration_night_delivery3 = #{durationNightDelivery3},createtime=#{createTime}
        where id = #{id}
    </update>

    <delete id="delById">
        DELETE FROM t_site_distance WHERE id = #{id}
    </delete>
    <delete id="delByScenariosIdd">
        DELETE FROM t_site_distance WHERE scenariosId = #{scenariosId}
    </delete>

    <resultMap id="siteDistMap" type="SiteDist">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="carType" column="car_type"/>
        <result property="siteCollect" column="site_collect"/>
        <result property="siteDelivery" column="site_delivery"/>
        <result property="carDistance" column="car_distance"/>
        <result property="durationNightDelivery" column="duration_night_delivery"/>
        <result property="durationNightDelivery2" column="duration_night_delivery2"/>
        <result property="durationNightDelivery3" column="duration_night_delivery3"/>

    </resultMap>

</mapper>