<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.SolutionEfficiencyMapper">

    <cache/>

    <select id="findAllSite" resultType="String">
        SELECT DISTINCT(cur_loc) FROM t_solution_route WHERE scenariosId= #{scenariosId}
    </select>

    <select id="findSbVol" parameterType="map" resultType="Integer">
        SELECT sum(sb_vol_sum) FROM t_solution_route
        WHERE scenariosId = #{scenariosId} AND cur_loc = #{curLoc} and arr_time>= #{min} and arr_time &lt; #{min}+#{periodTime}
    </select>



    <resultMap id="modelRoute" type="Route">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="routeCount" column="route_count"/>
        <result property="carName" column="car_name"/>
        <result property="carType" column="car_type"/>
        <result property="location" column="location"/>
        <result property="sequence" column="sequence"/>
        <result property="curLoc" column="cur_loc"/>
        <result property="type" column="type"/>
        <result property="sbLoc" column="sb_loc"/>
        <result property="sbVol" column="sb_vol"/>
        <result property="arrTime" column="arr_time"/>
        <result property="endTime" column="end_time"/>
        <result property="unloadLoc" column="unload_loc"/>
        <result property="unloadVol" column="unload_vol"/>
        <result property="nextCurLoc" column="next_cur_loc"/>
        <result property="calcDis" column="calc_dis"/>
        <result property="carGoods" column="car_goods"/>
    </resultMap>

</mapper>
