<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.SolutionCostMapper">


    <insert id="add">
        INSERT into t_solution_cost(scenariosId ,model_type,plan,selected,site_people_work,distrib_people_work,site_count,people_num_per_site,
        full_time_staff,part_time_staff,full_time_salary,part_time_salary,full_time_work_day,part_time_work_day,sum1,sum2,sum3,
        total_daily_labor_cost,pickup_transport_cost,branch_transport_cost,delivery_transport_cost,total_cost,
        str1,str2,str3,create_time,update_time)
        VALUES (#{scenariosId},#{modelType},#{plan},#{selected},#{sitePeopleWork},#{distribPeopleWork},#{siteCount},#{peopleNumPerSite},
        #{fullTimeStaff},#{partTimeStaff},#{fullTimeSalary},#{partTimeSalary},#{fullTimeWorkDay},#{partTimeWorkDay},#{sum1},#{sum2},
        #{sum3},#{totalDailyLaborCost},#{pickupTransportCost},#{branchTransportCost},#{deliveryTransportCost},#{totalCost},
        #{str1},#{str2},#{str3},#{createTime},#{updateTime})
    </insert>

    <select id="findAll" parameterType="map" resultType="Cost" resultMap="costMap">
        SELECT * FROM t_solution_cost where scenariosId = #{scenariosId}
    </select>

    <select id="findBranchCost" parameterType="String" resultType="String">
        SELECT branch_transport_cost FROM t_solution_cost where scenariosId = #{scenariosId}
    </select>

    <select id="findByParam" parameterType="map" resultType="com.xboost.pojo.Cost" resultMap="costMap">
        SELECT * from t_solution_cost where scenariosId = #{scenariosId}
    </select>

    <select id="findByScenariosId" parameterType="map" resultType="com.xboost.pojo.Cost" resultMap="costMap">
        SELECT * from t_solution_cost where scenariosId = #{scenariosId}
    </select>

    <select id="findById" resultType="com.xboost.pojo.Cost"  resultMap="costMap">
        SELECT * FROM t_solution_cost where id = #{id}
    </select>

    <update id="editCost">
        UPDATE t_solution_cost SET model_type=#{cost.modelType},plan=#{cost.plan},selected=#{cost.selected},site_people_work = #{cost.sitePeopleWork},
        distrib_people_work = #{cost.distribPeopleWork},site_count=#{cost.siteCount},people_num_per_site = #{cost.peopleNumPerSite},
        full_time_staff= #{cost.fullTimeStaff},part_time_staff = #{cost.partTimeStaff},full_time_salary = #{cost.fullTimeSalary},
        part_time_salary = #{cost.partTimeSalary},full_time_work_day = #{cost.fullTimeWorkDay},part_time_work_day=#{cost.partTimeWorkDay},
        sum1=#{cost.sum1},sum2=#{cost.sum2},sum3=#{cost.sum3},total_daily_labor_cost=#{cost.totalDailyLaborCost},pickup_transport_cost=#{cost.pickupTransportCost},
        branch_transport_cost=#{cost.branchTransportCost},delivery_transport_cost=#{cost.deliveryTransportCost},total_cost=#{cost.totalCost}
        where scenariosId=#{scenariosId}
    </update>

    <update id="editSiteInfo">
        UPDATE t_site_info SET total_vol=#{totalVol},full_time_staff1 = #{fullTimeStaff1},part_time_staff1 = #{partTimeStaff1},
        full_time_staff2= #{fullTimeStaff2},part_time_staff2 = #{partTimeStaff2}
        where scenariosId = #{scenariosId} and site_code=#{siteCode}
    </update>

    <update id="updateTotalCostByScenariosId">
        UPDATE t_solution_cost SET branch_transport_cost=#{branchTransportCost}
        where scenariosId = #{scenariosId}
    </update>

	<select id="findTotalPiece" resultType="Integer">
        SELECT SUM(votes) FROM t_demand_info WHERE scenariosId = #{scenariosId}
    </select>

    <select id="findTotalVol" resultType="String">
        SELECT cur_loc,GREATEST(MAX(sb_vol_sum),MAX(unload_vol_sum)) as totalVol FROM t_solution_route
        WHERE scenariosId = #{scenariosId} AND cur_loc = #{curLoc}
    </select>

    <delete id="delByScenariosId">
        DELETE FROM t_solution_cost WHERE scenariosId = #{scenariosId}
    </delete>


    <resultMap id="costMap" type="Cost">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="modelType" column="model_type"/>
        <result property="plan" column="plan"/>
        <result property="selected" column="selected"/>
        <result property="sitePeopleWork" column="site_people_work"/>
        <result property="distribPeopleWork" column="distrib_people_work"/>
        <result property="siteCount" column="site_count"/>
        <result property="peopleNumPerSite" column="people_num_per_site"/>
        <result property="fullTimeStaff" column="full_time_staff"/>
        <result property="partTimeStaff" column="part_time_staff"/>
        <result property="fullTimeSalary" column="full_time_salary"/>
        <result property="partTimeSalary" column="part_time_salary"/>
        <result property="fullTimeWorkDay" column="full_time_work_day"/>
        <result property="partTimeWorkDay" column="part_time_work_day"/>
        <result property="sum1" column="sum1"/>
        <result property="sum2" column="sum2"/>
        <result property="sum3" column="sum3"/>
        <result property="totalDailyLaborCost" column="total_daily_labor_cost"/>
        <result property="pickupTransportCost" column="pickup_transport_cost"/>
        <result property="branchTransportCost" column="branch_transport_cost"/>
        <result property="deliveryTransportCost" column="delivery_transport_cost"/>
        <result property="totalCost" column="total_cost"/>
    </resultMap>


</mapper>