<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.SolutionVehiclesMapper">



    <select id="findAllByCar" resultType="map" resultMap="modelCar">
        SELECT * FROM t_solution_route r INNER join t_car_licence c on r.car_name = c.name
        inner join t_car_info t on c.type= t.type LEFT JOIN t_site_info d ON r.cur_loc = d.site_code
        where r.scenariosId = #{scenariosId} and d.scenariosId = #{scenariosId} and
        c.scenariosId = #{scenariosId} and t.scenariosId = #{scenariosId}
        order by r.arr_time

    </select>

    <select id="findAllCountByCar" resultType="long">
        SELECT count(*) FROM t_solution_route r INNER join t_car_licence c on r.car_name = c.name
        inner join t_car_info t on c.type= t.type LEFT JOIN t_site_info d ON r.cur_loc = d.site_code
        where r.scenariosId = #{scenariosId} and d.scenariosId = #{scenariosId} and
        c.scenariosId = #{scenariosId} and t.scenariosId = #{scenariosId}
    </select>

    <select id="findByCar" parameterType="map" resultType="map" resultMap="modelCar">
        SELECT * FROM t_solution_route r INNER join t_car_licence c on r.car_name = c.name
        inner join t_car_info t on c.type= t.type LEFT JOIN t_site_info d ON r.cur_loc = d.site_code
        <where>
            r.scenariosId = #{scenariosId} and d.scenariosId = #{scenariosId} and
            c.scenariosId = #{scenariosId} and t.scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and  r.car_name = #{keyword}
            </if>
        </where>
        order by r.arr_time
        <!--order by ${orderColumn} ${orderType}-->
        limit ${start},${length}
    </select>


    <select id="findCountByCar" resultType="long" parameterType="map">
        SELECT count(*) FROM t_solution_route r INNER join t_car_licence c on r.car_name = c.name
        inner join t_car_info t on c.type= t.type LEFT JOIN t_site_info d ON r.cur_loc = d.site_code
        <where>
            r.scenariosId = #{scenariosId} and d.scenariosId = #{scenariosId} and
            c.scenariosId = #{scenariosId} and t.scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and  r.car_name = #{keyword}
            </if>
        </where>
    </select>

    <select id="findBusyCarCount" resultType="long">
        SELECT COUNT(*) FROM t_car_licence WHERE scenariosId = #{scenariosId} AND busy_idle = "1"
    </select>

    <resultMap id="modelCar" type="map">
        <result property="id" column="id"/>
        <result property="scenariosId" column="scenariosId"/>
        <result property="routeCount" column="route_count"/>
        <result property="carName" column="car_name"/>
        <result property="carType" column="car_type"/>
        <result property="location" column="location"/>
        <result property="sequence" column="sequence"/>
        <result property="curLoc" column="cur_loc"/>
        <result property="type" column="type"/>
        <result property="sbLoc" column="sb_loc"/>
        <result property="sbVol" column="sb_vol"/>
        <result property="arrTime" column="arr_time"/>
        <result property="endTime" column="end_time"/>
        <result property="unloadLoc" column="unload_loc"/>
        <result property="unloadVol" column="unload_vol"/>
        <result property="nextCurLoc" column="next_cur_loc"/>
        <result property="calcDis" column="calc_dis"/>
        <result property="carGoods" column="car_goods"/>
        <result property="siteCode" column="site_code"/>
        <result property="siteLongitude" column="longitude"/>
        <result property="siteLatitude" column="latitude"/>
        <result property="siteName" column="site_name"/>
        <result property="siteAddress" column="site_address"/>
        <result property="siteNightDelivery" column="site_night_delivery"/>
        <result property="siteArea" column="site_area"/>
        <result property="siteType" column="site_type"/>
        <result property="carNum" column="car_num"/>
        <result property="largeCarModel" column="large_carModle"/>
        <result property="maxOperateNum" column="max_operate_num"/>
        <result property="distribCenter" column="distrib_center"/>
        <result property="maxStop" column="max_stop"/>
        <result property="dimensions" column="dimensions"/>
        <result property="fixedRound" column="fixed_round"/>
        <result property="fixedRoundFee" column="fixed_round_fee"/>
        <result property="startLocation" column="start_location"/>
        <result property="endLocation" column="end_location"/>
        <result property="maxDistance" column="max_distance"/>
        <result property="maxRunningTime" column="max_running_time"/>
        <result property="costPerDistance" column="cost_per_distance"/>
        <result property="costPerTime" column="cost_per_time"/>
        <result property="fixedCost" column="fixed_cost"/>
        <result property="velocity" column="velocity"/>
        <result property="carSource" column="car_source"/>
        <result property="maxLoad" column="max_load"/>
        <result property="durationUnloadFull" column="duration_unload_full"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>

    </resultMap>

</mapper>