<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xboost.mapper.TransportMapper">

    <cache/>

    <insert id="save">
        INSERT into t_transportation(scenario_id,car_type,car_weight_limit,car_num,car_source,speed,max_load,duration_unload_full,
        max_distance,car_cost1,car_cost2,car_cost3,single_vote_cost1,single_vote_cost2,single_vote_cost3,
        str1,str2,str3,createtime,updatetime)
        VALUES (#{scenarioId},#{carType},#{carWeightLimit},#{carNum},#{carSource},#{speed},#{maxLoad},#{durationUnloadFull},
        #{maxDistance},#{carCost1},#{carCost2},#{carCost3},#{singleVoteCost1},#{singleVoteCost2},#{singleVoteCost3},
        #{str1},#{str2},#{str3},#{createTime},#{updateTime})
    </insert>


    <select id="findAll" resultType="com.xboost.pojo.Transportation">
        SELECT * FROM t_transportation where scenariosId = #{scenariosId}
    </select>

    <select id="findByParam" parameterType="map" resultType="Transportation" resultMap="transportMap">
        SELECT * from t_transportation
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                and car_type LIKE #{keyword} or car_source like #{keyword}
            </if>
        </where>
        order by ${orderColumn} ${orderType}
        limit ${start},${length}
    </select>

    <select id="findAllCount" resultType="long">
        SELECT COUNT(*) FROM t_transportation where scenariosId = #{scenariosId}
    </select>

    <select id="findCountByParam" resultType="long" parameterType="map">
        SELECT count(*) FROM t_transportation
        <where>
            scenariosId = #{scenariosId}
            <if test="keyword != null and keyword != ''">
                where car_type LIKE #{keyword} or car_source like #{keyword}
            </if>
        </where>
    </select>

    <select id="findById" resultType="com.xboost.pojo.Transportation"  resultMap="transportMap">
        SELECT * FROM t_transportation where id = #{id}
    </select>

    <update id="editTransport">
        UPDATE t_transportation SET scenario_id = #{scenarioId},car_type = #{carType},car_weight_limit=#{carWeightLimit},
        car_num=#{carNum},car_source=#{carSource},speed=#{speed},max_load=#{maxLoad},duration_unload_full=#{durationUnloadFull},
        max_distance=#{maxDistance},car_cost1=#{carCost1},car_cost2=#{carCost2},car_cost3=#{carCost3},
        single_vote_cost1=#{singleVoteCost1},single_vote_cost2=#{singleVoteCost2},single_vote_cost3=#{singleVoteCost3}
        where id = #{id}
    </update>


    <delete id="delById">
        DELETE FROM t_transportation WHERE id = #{id}
    </delete>


    <resultMap id="transportMap" type="Transportation">
        <result property="id" column="id"/>
        <result property="scenarioId" column="scenario_id"/>
        <result property="carType" column="car_type"/>
        <result property="carWeightLimit" column="car_weight_limit"/>
        <result property="carNum" column="car_num"/>
        <result property="carSource" column="car_source"/>
        <result property="speed" column="speed"/>
        <result property="maxLoad" column="max_load"/>
        <result property="durationUnloadFull" column="duration_unload_full"/>
        <result property="maxDistance" column="max_distance"/>
        <result property="carCost1" column="car_cost1"/>
        <result property="carCost2" column="car_cost2"/>
        <result property="carCost3" column="car_cost3"/>
        <result property="singleVoteCost1" column="single_vote_cost1"/>
        <result property="singleVoteCost2" column="single_vote_cost2"/>
        <result property="singleVoteCost3" column="single_vote_cost3"/>
    </resultMap>


</mapper>